/*.button .text {*/
/*    -fx-font-family: 'Rubik Mono One';*/
/*    -fx-font-size: 30;*/
/*}*/

.button:hover {
    -fx-background-color: rgb(193, 193, 193);
    -fx-cursor: hand;
}

.button {
    -fx-background-color: rgb(202, 202, 202);
    -fx-text-fill: rgb(51, 51, 51);

    -fx-padding: 2px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;

    -fx-min-width: 400;
    -fx-min-height: 90;
    -fx-max-width: 400;
    -fx-max-height: 90;

    -fx-font-family: "Rubik Mono One";
    -fx-font-size: 25;
}
